
  .tituloVer {
    color: #0b2c37;
    text-align: left;
  }
  
  .tablaVer {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tablaVer th,
  .tabla td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #CD9DC0;
  }
  
  .tablaVer th {
    background-color: #933864;
    color: #f5f6f7;
  }
  