*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.Relleno{
    min-width: 400px;
    
}
.Navegacion-contenido{
    display: flex;
    justify-content: center;
}
.Navegacion{
    
    height: 4%;
    margin-top: 5px;
    width: 50%;
    font-size: 14px;
    
}
.registro-contenido{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: relative; 
    
}
.registro{
    height: 73%;
    padding: 5px;
    width: 50%;
}
.div1Label{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.Titulo{
    font-size: 24px;
}
.titulo{
    margin-top: 12px;
    margin-bottom: 10px;
}
.imput{
    background: #EBEBEB;
    font-size: 14px;
    padding:5px;
    border-radius: 5px;
}
.registro span{
    color:#F35D5D;
}
.imput:focus, .imput:valid{
    outline: none;
}
.div2Seleccion{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.seleccion{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.div3Botones{
    padding: 10px;
    margin: 5px;
    justify-content: end;
    display: flex;
    gap: 15px;
    
}
.div3Botones button{
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.cancelar{
    background-color: #F35D5D;
    
}
.registrar{
    background-color: #933864;

}

#fondoGris{
    background-color: #40505577;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display:none; /*aun en investigacion, borrar el display si quieres que aparezca el mensaje*/
}
.mensaje_emergente{
    position: absolute; 
    z-index: 2; /* un valor alto para estar por encima de otros elementos */
    background-color: #AE7791;
    padding: 5px;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);  
    display: none; /*aun en investigacion, borrar el display si quieres que aparezca el mensaje*/
}
.info{
    font-size: 16px;
   padding-left: 10px;
    margin-top: 5px;
    margin-left: 5px;

}
/*visualizar unidades*/
.visualizar{
    padding: 5px;
    width: 95%;
}
.pizarra{
    background-color: #e2eaec;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    flex-direction: column;
    display: flex;
    overflow: auto;
}
.nomCol{
    background-color: #C384B2;
    padding: 7px;
    border-radius: 5px;
    color: #EBEBEB;
    width: 100%;
}
.columnaT{
    width: 30%;
    min-width: 140px;
}

.fila{
    display: flex;
    align-items: center;
    padding: 4px;
    margin-top: 7px;
    width: 100%;
    gap: 5px;
}
.fila p{
    width: 16%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    text-align: center;
}

.EliEdi{
    
    display: flex;
    justify-content: center;
    width: 15%;
    min-width: 140px;
}
.EliEdi button{
    margin-right: 10px;
    cursor: pointer;
}
.accion i{
    background-color: none;
    font-size: 20px;
}
/*switch*/
.boton {
    margin: 5px;
    margin-right: 35px;
}
  
.lbl-switch {
display: inline-block;
width: 48px;
height: 22px;
background: #aaa;
border-radius: 100px;
position: relative;
cursor: pointer;
}

.boton input:checked + .lbl-switch {
background: #AE7791;
}

.lbl-switch:after {
position: absolute;
content: '';
width: 16px;
height: 16px;
background: #f5f6f7;
border-radius: 100px;
top: 3px;
left: 3px;
transition: 0.2s;
}

.boton input:checked + .lbl-switch:after {
left: 28px;
}

.boton input {
display: none;
}