.container{
    padding: 70px;
}

.publicaciones-list{
    padding: 10px;
}
.container h2 {
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
}
/* Estilos para las publicaciones */
.publicacion {
    display: flex; /* Utiliza flexbox para alinear los elementos internos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 10px; /* Agrega espacio entre las publicaciones */
    color: #0B2C37;
    margin-left: 40px;
}
.container h1 {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
  }
/* Estilos para los botones de eliminar y editar */
.publicacion .btn-danger,
.publicacion .btn-primary {
    float: right;
    margin-left: 20px; /* Agrega espacio entre los botones */
    margin-right: 50px;
    color: #0B2C37;
}

/* Estilos para el botón de crear publicación */
#btn-crear-publicacion {
    float: right; /* Alinea el botón a la derecha */
    margin-right: 20px; /* Agrega un espacio a la derecha del botón */
    margin-top: 50px;
    background-color: #C384B2;
    border-radius: 7px;
    border-color: #904368;
    width: 130px;
    height: 35px;
    color: #ffff;
}


/* Estilos para el icono de basurero */
.fa-trash {
    font-size: 20px; /* Tamaño del icono */
}

/* empieza Estilos para el modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    justify-content: center; 
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro translúcido */
   
}
.modal-content {
    background-color: #EBEBEB;
    margin: auto; /* Ajusta el margen para centrar horizontalmente */
    margin-top: 100px; /* Margen superior de 50px para alejarlo del borde superior */
    padding: 10px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
    
}


.form-group {
    margin-bottom: 20px; /* Espaciado entre los campos */
}
label {
    display: block; /* Hace que las etiquetas se muestren en líneas separadas */
    
}
/* Estilos para los campos de entrada */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%; /* Ancho completo del campo */
    padding: 8px; /* Espaciado interno del campo */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Borde redondeado del campo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Estilos para los botones en el modal */
.modal-content .btn {
    background-color: #C384B2; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 20px; /* Cambia el padding del botón para ajustar el tamaño */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-right: 10px; /* Agrega margen derecho para separar los botones */
    margin-top: 20px; 
    border: none;
}



/* Estilos específicos para el botón de cancelar */
.modal-content .btn-secondary {
    background-color: #F35D5D; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 20px; /* Cambia el padding del botón para ajustar el tamaño */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
/* Estilos para el contenedor de los botones */
.botones {
    text-align: right; /* Alinea los botones hacia la derecha */
}

/* termina Estilos para el modal */
/* Estilos para el modal de edición */
.modal-formulario {
    display: none; /* Oculta el modal por defecto */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro translúcido */
}

/* Estilos para el contenido del modal de edición */
.modal-formulario .modal-content {
    background-color: #EBEBEB;
    margin: auto; /* Ajusta el margen para centrar horizontalmente */
    margin-top: 100px; /* Margen superior de 50px para alejarlo del borde superior */
    padding: 10px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
}

/* Estilos para el botón de cerrar del modal de edición */
.modal-formulario .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-formulario .close:hover,
.modal-formulario .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los botones en el modal de edición */
.modal-formulario .btn {
    background-color: #C384B2; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 20px; /* Cambia el padding del botón para ajustar el tamaño */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-right: 10px; /* Agrega margen derecho para separar los botones */
    margin-top: 20px;
    border: none;
}

/* Estilos específicos para el botón de cancelar en el modal de edición */
.modal-formulario .btn-secondary {
    background-color: #F35D5D; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 20px; /* Cambia el padding del botón para ajustar el tamaño */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el contenedor de los botones en el modal de edición */
.modal-formulario .botones {
    text-align: right; /* Alinea los botones hacia la derecha */
}
