* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.Navegacion-contenido-ver {
  display: flex;
  justify-content: center;
}

.Navegacion-ver {
  height: 4%;
  margin-top: 5px;
  width: 50%;
  font-size: 14px;
  color: #0b2c37; /* Color del texto */
}

.Titulo-ver {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 24px;
}

.ver-contenido {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  position: relative; 
}

/* Visualizar ambientes */
.visualizar-ambiente {
  width: 80%;
}

.tabla-ver{
  background-color: #e2eaec;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.contBotones-v {
  min-width: 140px;
  width: 30%;
  display: flex;
  justify-content: center;
} 

.nomCol-v {
  background-color: #AE7791;
  padding: 7px;
  border-radius: 5px;
  color: #EBEBEB;
  width: 100%;
}

.fila-v {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 7px;
  width: 100%;
  gap: 5px;
  min-width: 822px;
}

.fila-v p{
  min-width: 140px;
  width: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 5px;
}

.EditHab{
  
  display: flex;
  justify-content: center;
}

.EditHab button{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.EditHab button:hover{
  background-color: #AE7791;
  color: #EBEBEB;
}

.accion i {
  background-color: none;
  font-size: 20px;
}

#columnaPeque{
  min-width: 90px;
  max-width: 90px;
}
  
/* Switch */
.boton-sw {
  margin: 3px;
  margin-left: 20px;
}

.lbl-switch {
  display: inline-block;
  width: 48px;
  height: 22px;
  background: #aaa;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.boton-sw input:checked + .lbl-switch {
  background: #AE7791;
}

.lbl-switch:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: #f5f6f7;
  border-radius: 100px;
  top: 3px;
  left: 3px;
  transition: 0.2s;
}

.boton-sw input:checked + .lbl-switch:after {
  left: 28px;
}

.boton-sw input {
  display: none;
}

/*Estilos para el boton reporte*/
.btnReporte{
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

.nomCol{
  background-color: #C384B2;
  padding: 7px;
  border-radius: 5px;
  color: #EBEBEB;
  width: 100%;
}