
main{
    display: flex;
    justify-content: center;
    width: 100%;
}

main div{
    width: 50%;
}

main h1{
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.labMateria{
    margin-bottom: 5px;
}

.inputMateria{
    padding: 5px;
    font-size: 16px;
    background-color: #E3E5F3;
    color: #0B2C37;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
}

.inputMateria:focus, .inputMateria:hover {
    outline: none;
    box-shadow: 0 0 0 2px #b7b8c3;
}

.botones{
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-top: 40px;
    width: 100%;
}

.botones button{
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f5f6f7;
    font-family: inherit;
    font-size: 16px;
}

.btnCancelar{
    background-color: #F35D5D;
}
.btnRegistrar{
    background-color: #538296;
}

.btnCancelar:hover{
    background-color: #b94848;
}
.btnRegistrar:hover{
    background-color: #4e798c;
}

.msgError{
    color: #b94848;
    padding: 2px 0 0 6px;
}



